# ignore python cache files
alg/__pycache__/
.venv
tools/__pycache__/

# ignore all .pth files
*.pth

# iIgnore all .png files
*.png

# ignore all .sh files
*.sh

# ingore wandb files
wandb/

# ignore all .TTF
*.TTF

# ignore useless files
alg/trash_function.py
alg/nice_model copy.py