# ignore python cache files
alg/__pycache__/
.venv

# ignore model files and figures
exp/uncond_rlp_generation/exp_ge/FCPflow_model.pth
exp/uncond_rlp_generation/exp_ge/FCPflow_generated.png
exp/uncond_rlp_generation/exp_ge/train_ge_script.sh
exp/con_rlp_generation/exp_uk/FCPflow_model.pth
exp/con_rlp_generation/exp_uk/FCPflow_generated.png
exp/con_rlp_generation/exp_uk/train_uk_script.sh
exp/cond_rlp_generation/exp_uk_weather/FCPflow_generated.png
exp/cond_rlp_generation/exp_uk_weather/FCPflow_model.pth
exp/prediction/usa/FCPflow_generated.png
exp/prediction/usa/FCPflow_model.pth

# ingore wandb files
wandb/

# ignore useless files
alg/trash_function.py